footer{
    position: fixed;
    bottom: 0px;
    width: 100%; 
    padding: 6px; 
    
}
a{
    height: 30px;
    text-decoration: none;
    color: white;
}
.contenedor{
    height: 40px;
}
.img{
    background-color: rgb(243, 240, 240);
    border-radius: 10px;
    
    }

