<div class="contenedor">
<footer class="row justify-content-center gx-0 bg-dark">
        <div class=" col-4 mt-1 col-sm-3" > 
                <img src="" class="col-xl-1 col-1  img" alt="">
                <b class="m-1 " href="">Ravarotto javier</b>
        </div>
        <div class=" col-4 col-sm-3" > 
                <img src="https://i.ibb.co/WKtTzGv/github.png" class="col-xl-1 col-3 col-sm-1 img" alt="logo github">
                <a class="m-1" href="https://github.com/javierRavarotto" target="_blank">github</a>
        </div> 
        <div class=" col-4 col-sm-3" > 
                <img src="https://i.ibb.co/xzvYWzd/linkedin.png" class="col-xl-1 col-3 col-sm-1 img" alt="logo linkedin">
                <a class="m-1" href="https://www.linkedin.com/in/javier-ravarotto/" target="_blank">linkedin</a>
        </div>
        <div class=" col-4 col-sm-3  mt-1" > 
           <a href="https://drive.google.com/file/d/1DnRS-jIeAqRY3rVEiFVkpGDa-0-Urkmr/view?usp=share_link" target="_blank" download="ravarottoJavierCv"> Descargar CV</a> 
        </div>
        
</footer> 
</div>