
<h3 class="text-center">Proyectos</h3>
<div class="row justify-content-center">
    <div class="contenedor mb-2 col-10 col-lg-4 m-lg-3"   *ngFor="let proyecto of proyectos">
    
      <div class="card-header mia text-center col-12  titulo" >{{proyecto.nombre}}</div>
      <div class="card-body justify-content-center row"  >
        <img class="col-12 text-center imagen mt-2"  src={{proyecto.imagen}} alt="{{proyecto.nombre}} imagen">
      </div>
      <div class="text-center m-2">
      <button [routerLink]="['/proyecto/detalles',proyecto.idProyecto]" class="btn btn-dark mb-1">Detalles</button>
    </div>
  </div>
</div> 