.previaGrande{
    position: absolute;
    margin-left: 25%;
}
.previaChica{
    display: none;
}
@media (max-width: 576px) {
    .previaGrande{
        margin-left: none;
        position: relative;
        display: none;
    }
    .previaChica{
       display: block;
  }
}