<div class="m-3">
    <a class=" botonCrear col-2 m-3 " [routerLink]="['crear']" *ngIf="admin">Crear proyecto</a>
</div>
<div class="row justify-content-center mt-4">
    <table class="col-4">
        <thead>
            <tr>
                <th class="col-2 text-center ">Nombre</th>
                <th class="col-2 text-center">Editara</th>
                <th class="col-2 text-center">Eliminar</th>
    

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proyecto of proyectos">
                <td class="col-1 text-center m-1">{{proyecto.nombre}}</td>
                
                <td class="col-1 text-center "><button  class="m-1 botonCrear"  name="editar"[routerLink]="['/proyecto/editar',proyecto.idProyecto]">Editar</button></td>
                <td class="col-1 text-center "><button class="m-1 botonEliminar"  name="eliminar" (click)="borrar(proyecto)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>