
<div #inicio class="row justify-content-center mt-5">
    <h2 class="col-12 col-lg-2 text-start mt-5 text-center ">Sobre mi</h2>
</div>
<div  class="row justify-content-center m-5 mt-2" >
<img class="col-6 col-lg-3 col-sm-3 perfil"src="https://i.ibb.co/CQx6mSh/javier.jpg" alt="Ravarotto javier">
<label for="" class="col-12 col-lg-6">Hola soy Javier Ravarotto, tengo 24 años y soy desarollador Full stack.
<br> Comence en el mundo de la programación hace ya unos 5 años. Puedes ver algunos de mis proyectos en la sección de <b>Proyectos.</b></label>
</div>
<div  #proyecto  class="mt-2  mb-3">
    <app-perfil-proyecto></app-perfil-proyecto>
</div>
<div #estudios  class="mt-5 mb-3">
    <app-perfil-estudio></app-perfil-estudio>    
</div>
<div #habilidad class="mt-5  mb-3">
    
<app-perfil-habilidad></app-perfil-habilidad>
</div>