<div class="contenedor">
    <div class="navegacion">
        <div class="navehacion2">
            <nav class="navbar bg-dark text-white  text-center gx-0 " data-bs-theme="dark">
                <a #inicio (click)="navInicio()" class="nav-link col-2" [routerLink]="['/']">Inicio</a>
                <a #proyecto (click)="navProyecto()" class="nav-link col-2 destinos" [routerLink]="['/']" >Proyectos</a>
                <a #estudios (click)="navEstudios()" class="nav-link col-2 destinos" [routerLink]="['/']">Estudios</a>
                <a #habilidad (click)="navHanilidad()" class="nav-link col-2 destinos"  [routerLink]="['/']">Habilidad</a>
                <a class="nav-link col-2 botonCrear" [routerLink]="['inicioSesion']" *ngIf="!usuario">Inicio sesion</a>
                <a class="nav-link col-2  botonEliminar" [routerLink]="['']" *ngIf="usuario" (click)="cerrarSesion()"> Cerrar sesion</a>
            </nav>
            <nav class="navbar bg-dark text-white  text-center gx-0 mb-5" data-bs-theme="dark" *ngIf="admin">
                <a class="nav-link col-2" [routerLink]="['habilidad']">Habilidades Admin</a>
                <a class="nav-link col-2" [routerLink]="['estudio']">Estudios Admin</a>
                <a class="nav-link col-2" [routerLink]="['proyecto']">Proyectos Admin</a>
                <a class="nav-link col-2" [routerLink]="['usuario']">usuarios Admin</a>
            </nav>
        </div>
    </div>
</div>