
<div class="row justify-content-center mt-5">
   <b class="card-header  col-12 text-center">{{titulo}}</b>
   <div class="col-1 previa ">
   <div class="col-12 text-start">
      <label class="col-12  mb-2 text-start" for="nombre"> Vista previa</label>
   </div>
      <img class="col-12"  src={{proyecto.imagen}} alt="">
   </div>
   <div class="row justify-content-center">
      <form class="col-12 text-center">
         <div class="m-2 col-10">
            <label class="col-2 text-end m-2" for="nombre"> Nombre</label>
            <input class="col-2" type="text" [(ngModel)]="proyecto.nombre" name="nombre">
         </div>
         
         <div class="m-2 col-10 ">
            <label class="col-2 text-end m-2" for="urlGithub">Url github</label>
            <input class="col-2" type="text" [(ngModel)]="proyecto.urlGithub" name="urlGithub">
         </div>
         <div class="m-2 col-10"style=display:none >
            <label class="col-2 text-end m-2" readonly  for="imagen" > Url imagen</label>
           
               <input type="text"  class="col-2"   [(ngModel)]="proyecto.imagen" name="imagen">
            
         </div>
         <div class="m-2 col-10  " >
            <label class="col-2 text-end m-2" readonly  for="imagen">imagen</label>
            <input  class="col-2 text-end m-2" (change)="capturar($event)" type="file">
         </div>
        
     
         <div class="m-2 col-10  ">
            <label class="col-2 text-end m-2"  for="descripcion"> Descripcion</label>
           
               <input type="text"  class="col-2"  [(ngModel)]="proyecto.descripcion" name="descripcion">
            
         </div>
     
         <div>
            <div>
               <button (click)="crear()" class="botonCrear" *ngIf="!proyecto.idProyecto else elseBlock ">Crear</button>
               <ng-template #elseBlock>
                  <button class="botonCrear" (click)="actualizarProyecto()">Editar</button>
               </ng-template>
            </div>
         </div>
      </form>
   </div>
   
</div>
