
<div>
    <div class="row m-3">
        <a class="col-9" href="">
        <img  src="{{estudio.urlImagen}}" class="col-1" alt="">
    </a>
        <div class="row">
        <label class="col-1 text-center">{{estudio.establecimiento}} </label>
        
    </div>
    </div>
    <div class="text-center mt-5">
        <label class="col-12">{{estudio.nombre}}</label>
        <img src="{{estudio.urlCertificado}}" alt="">
    </div>
   
    <div class="col-12 text-center">
        <label class="col-3" >Fecha inicio : {{estudio.fechaInicio | date: 'shortDate'}}</label>
        <label class="col-3" >Fecha fin : {{estudio.fechaFin | date: 'shortDate'}}</label>
        <label class="col-3" >Horas de cursado : {{estudio.horasCursadas}} hs</label>
        <label class="col-4 mt-3" for="">{{estudio.estado}}</label>
    </div>
    <div class="row justify-content-center">   
      <label  class="col-10 mt-5" for="">{{estudio.descripcion}}
    </label>  
        </div>
  

 
</div>
