
<h3 class="text-center">Estudios</h3>
<div class="row justify-content-center">
  <div class="contenedor  mb-1 m-2 col-10 col-lg-4 text-center" style="max-width:10rem;" *ngFor="let estudio of estudios">

    <div class="card-header mia text-center col-12  titulo">{{estudio.nombre}}</div>
    <div class="justify-content-center row">
      <img class="col-12 text-center imagen mt-2" src={{estudio.urlImagen}} alt="logo {{estudio.nombre}}">
    </div>
    <div class="text-center m-2">
      <button [routerLink]="['/estudio/detalles',estudio.idEstudio]" class="btn btn-dark mb-1">Detalles</button>
    </div>
  </div>
</div>


