

<nav class="navbar bg-dark text-white  text-center gx-0 " data-bs-theme="dark" *ngIf="admin"> 
    <a class="nav-link col-2" [routerLink]="['habilidad']">Habilidades</a>
    <a class="nav-link col-2" [routerLink]="['habilidad/crear']">Crear Habilidades</a>
    <a class="nav-link col-2" [routerLink]="['estudio']">Estudio</a>
    <a class="nav-link col-2" [routerLink]="['estudio/crear']">Crear Estudio</a>
    <a class="nav-link col-2" [routerLink]="['proyecto']">Proyecto</a>
    <a class="nav-link col-2" [routerLink]="['proyecto/crear']">Crear Proyecto</a>
</nav>

