<div class="margen"></div>
<div class="row justify-content-center mt-5 text-end">
   <b class="card-header  col-12 mb-1 text-center">{{titulo}}</b>

   <div class="col-12 col-sm-2 previaGrande">
      <label class=" mb-2 col-lg-12  col-5 ms-4  text-center" for="nombre"> Vista previa</label>
      <label class=" mb-2 col-lg-12  col-5 ms-4  text-center" for="nombre"> Establecimiento</label>
      <img class="col-4 col-sm-10 ms-4 "  src={{estudio.urlImagen}} alt="">
      <label class=" mb-2 col-lg-12  col-5 ms-4  text-center" for="nombre"> certificado</label>
      <img class="col-4 col-sm-10 ms-4" src={{estudio.urlCertificado}} alt="">
   </div>
   <div class="row justify-content-center">
      <form class="col-12 text-center">
         <div class="m-2 col-10  ">
            <label class="col-3 col-sm-2 text-end m-2" for="nombre"> Nombre</label>
            <input type="text" class="col-6 col-sm-2" [(ngModel)]="estudio.nombre" name="nombre">
         </div>
         <div class="m-2 col-10  ">
            <label class="col-3 col-sm-2 text-end m-2" for="horasCursadas "> Horas cursadas</label>

            <input type="text" class="col-6 col-sm-2" [(ngModel)]="estudio.horasCursadas" name="horasCursadas">

         </div>
         <div class="m-2 col-10" style=display:none>
            <label class="col-3 col-sm-2 text-end m-2" for="urlImagenCertificado"> Url imagen certificado</label>
            <input type="text" class="col-6 col-sm-2" [(ngModel)]="estudio.urlCertificado" name="urlImagenCertificado">
         </div>
         <div class="m-2 col-10  " >
            <label class="col-3 col-sm-2 text-end m-2" readonly  for="imagen">Imagen establecimiento</label>
            <input  class="col-6 col-sm-2 text-end m-2" (change)="capturarEstablecimiento($event)" type="file">
         </div>
         <div class="m-2 col-10  ">
            <label class="col-3 col-sm-2 text-end m-2" for="fechaInicio "> Fecha inicio</label>

            <input type="date" class="col-6 col-sm-2" [(ngModel)]="estudio.fechaInicio" name="fechaInicio">

         </div>
         <div class="m-2 col-10  ">
            <label class="col-3 col-sm-2 text-end m-2" for="fechaFin "> Fecha fin</label>

            <input type="date" class="col-6 col-sm-2" [(ngModel)]="estudio.fechaFin" name="fechaFin">

         </div>
         <div class="m-2 col-10  ">
            <label class="col-3 col-sm-2 text-end m-2" for="estado "> Estado</label>

            <input type="text" class="col-6 col-sm-2" [(ngModel)]="estudio.estado" name="estado">

         </div>
         <div class="m-2 col-10  ">
            <label class="col-3 col-sm-2 text-end m-2" for="establecimiento "> Establecimiento</label>

            <input type="text" class="col-6 col-sm-2" [(ngModel)]="estudio.establecimiento" name="establecimiento">

         </div>
         <div class="m-2 col-12 text-start " style=display:none>
            <div class="col-10 text-center">
               <label class="col-3 col-sm-2  text-center m-1 " for="urlImagenEstablecimiento"> Url imagen establecimiento</label>
               <input type="text" class="col-6 col-sm-2 text-start" [(ngModel)]="estudio.urlImagen" name="urlImagenEstablecimiento">
            </div>
         </div>
         <div class="m-2 col-10"  >
            <label class="col-3 col-sm-2 text-end m-2" readonly  for="imagen">Imagen certificado</label>
            <input  class="col-6 col-sm-2 text-end m-2" (change)="capturarCertificado($event)" type="file">
         </div>
         <div class="m-2 col-10  ">
            <label class="col-12 col-sm-2 text-center m-2" for="descripcion"> Descripcion</label>
            <textarea type="text" class="col-10 col-sm-2 ms-4" [(ngModel)]="estudio.descripcion" name="descripcion"></textarea>
         </div>
         <div>
            <div>
               <button class="botonCrear " (click)="crear()" *ngIf="!estudio.idEstudio else elseBlock ">Crear</button>

               <ng-template #elseBlock>

                  <button (click)="actualizarEstudio()" class="botonCrear">Editar</button>

               </ng-template>
            </div>
         </div>
      </form>
      <div class="col-12 col-sm-1 previaChica ">
         <label class=" mb-2 mt-3 col-12 text-center" for="nombre"> Vista previa</label>
         <label class=" mb-2 mt-3 col-12 text-center" for="nombre"> Establecimiento</label>
         <img class="col-12  "  src={{estudio.urlImagen}} alt="">
         <label class=" mb-2 mt-3 col-12 text-center" for="nombre"> certificado</label>
         <img class="col-12 " src={{estudio.urlCertificado}} alt="">
      </div>
   </div>
</div>